src/main/mule/jobs/job-envio-email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="56e9f5ae-8bf2-4fb3-b20c-58fc1fa37a13" />
	<flow name="job-envio-emailFlow" doc:id="0833e023-981f-4d97-baae-3d63ea9ac039" >
		<vm:listener doc:name="Listener" doc:id="52e7f3ca-c738-4a5e-b058-3466f02fefde" config-ref="vm-connection_VM-config" queueName="fila_envio_email"/>
		<ee:transform doc:name="Transform Message" doc:id="747615bf-ea8d-4b8b-801c-ec6535513767" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="2efed2e6-5b49-4d54-a243-2de555e7f66f" >
			<when expression="#[payload.'type' == &quot;Deleção de fornecedor&quot;]">
				<logger level="INFO" doc:name="Logger" doc:id="7f9f9a3b-887f-48f2-a5e3-22a1397d2c4c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"condicao": "caiu na deleção de fornecedor",&#10;	"mensagem_da_fila": payload&#10;}]' />
			</when>
			<when expression="#[payload.'type' == &quot;Criacao de fornecedor&quot;]">
				<logger level="INFO" doc:name="Logger" doc:id="48289bd3-4399-44cc-a7cf-be3ea902a86a" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	"condicao": "caiu na criacao de fornecedor",&#10;	"mensagem_da_fila": payload&#10;}]'/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="92907763-54c9-4c52-99dd-6e1027c141d7" message="Nenhuma condição foi atingida!"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="job-cadastro-fornecedores_flow" doc:id="a1d94989-370d-4948-9e65-3255fd0190ed" >
		<scheduler doc:name="Scheduler" doc:id="a6511312-fe19-4d57-9507-0edc51c199f5" >
			<scheduling-strategy >
				<fixed-frequency frequency="${job.frequency}" startDelay="${job.startDelay}" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<file:read doc:name="Read" doc:id="52b4b467-a960-4410-82ff-2f77d8d2bba1" config-ref="File_Config" path="/Users/brunorc/Development/Workspaces/PFM6/empresas-s-api-brc/src/main/resources/files/fornecedores.csv" outputMimeType='application/csv; separator=";"; header=true' outputEncoding="UTF-8" target="fornecedores"/>
		<ee:transform doc:name="Convert CSV to JSON" doc:id="9eb6dad3-f3f7-4795-9c20-4867b6a28e9b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.fornecedores]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="e3a4bc7c-b56f-4514-b485-acb57a9668fb" collection="#[payload]">
			<logger level="INFO" doc:name="Logger de iteracao" doc:id="cbc29b47-f16a-42af-8dd8-915fc2d8d31d" message='#["iniciando a iteração: " ++ vars.counter]'/>
			<db:insert doc:name="Insert" doc:id="477d2b10-0a52-4f67-9d87-49635c3dec09" config-ref="Empresas-DB_Database-Config">
				<db:sql ><![CDATA[INSERT INTO tbFornecedores
VALUES(:id, :razaoSocial, :cnpj, :endereco, :dataInclusao, :email, :site)]]></db:sql>
				<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	"id": payload.id,
	"razaoSocial": payload.razaoSocial,
	"cnpj": payload.cnpj replace "." with "" replace "-" with "" replace "/" with "",
	"endereco": payload.endereco,
	"dataInclusao": payload.dataInclusao,
	"email": payload.email,
	"site": payload.site
}]]]></db:input-parameters>
			</db:insert>
			<logger level="INFO" doc:name="Logger de iteracao FIM" doc:id="dc49f918-20d5-44d7-952c-945414caa386" message='#["Finalizando a iteração: " ++ vars.counter]' />
		</foreach>
		<file:delete doc:name="Delete" doc:id="fbb82707-3983-45e4-bb96-b1bea799332b" config-ref="File_Config" path="/Users/brunorc/Development/Workspaces/PFM6/empresas-s-api-brc/src/main/resources/files"/>
		<logger level="INFO" doc:name="Logger" doc:id="c516bfcb-c054-47a8-8080-1066bb0435dc" message="#[payload]"/>
	</flow>
</mule>
