src/main/mule/api-empresa-s-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

	<flow name="api-empresa-s-api-main">
		<http:listener
			config-ref="api-empresa-s-api-httpListenerConfig"
			path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="api-empresa-s-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="api-empresa-s-api-console">
		<http:listener
			config-ref="api-empresa-s-api-httpListenerConfig"
			path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="api-empresa-s-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform doc:name="Transform Message">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="put:\empresas\clientes\(id):application\json:api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="put:\empresas\fornecedores\(id):application\json:api-empresa-s-api-config">
		<flow-ref
			doc:name="log-init_flow"
			doc:id="09d876a0-dddd-4a70-b2d3-4f082f7868ab"
			name="log-init_flow" />
		<flow-ref
			doc:name="put-fornecedores-flow"
			doc:id="7c84ea40-98de-4eee-bea1-c798342d7e3b"
			name="put-fornecedores-flow" />
		<flow-ref
			doc:name="end-init_flow"
			doc:id="096919f9-9d10-4f5e-8189-18fc0c888b55"
			name="end-init_flow" />
	</flow>
	<flow name="put:\empresas\produtos\(id):application\json:api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete:\empresas\clientes\(id):api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete:\empresas\fornecedores\(id):api-empresa-s-api-config">
		<flow-ref
			doc:name="log-init_flow"
			doc:id="21d4f878-1e12-4534-b34f-846ba6f25f56"
			name="log-init_flow" />
		<set-variable value='#[attributes.headers."client_id"]' doc:name="consumer" doc:id="9dc3b87a-47da-4e04-9240-a4373f8cadac" variableName="consumer"/>
		<set-variable
			value='#[attributes.uriParams."id"]'
			doc:name="id"
			doc:id="d43524c1-0102-472f-9c68-c66e3512042e"
			variableName="id" />
		<flow-ref
			doc:name="delete-fornecedores_flow"
			doc:id="b33bf619-d413-43ef-93ce-20be86652d6a"
			name="delete-fornecedores_flow" />
		<flow-ref
			doc:name="end-init_flow"
			doc:id="c18850e0-f727-4423-82a1-be2b82be3405"
			name="end-init_flow" />
	</flow>
	<flow name="delete:\empresas\produtos\(id):api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get:\empresas\clientes:api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  clientes: [
    {
      id: 1,
      nome: "John Doe",
      cpf: "351.457.152-32",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataNascimento: "1989-12-19",
      email: "john.doe@orangedoor.com.br"
    }, 
    {
      id: 2,
      nome: "John Doe",
      cpf: "351.457.152-32",
      endereco: "Av. Paulista, 3542, São Paulo - SP",
      dataNascimento: "1989-12-19",
      email: "john.doe@orangedoor.com.br"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get:\empresas:api-empresa-s-api-config">
		<flow-ref doc:name="log-init_flow" doc:id="7deeda8e-732e-4e09-ae43-f9e305be3369" name="log-init_flow" />
		<flow-ref doc:name="get-empresas_Flow" doc:id="f2d3ee39-d7e3-4bc9-bd0c-bcbbd7cb5a30" name="get-empresas_Flow"/>
		<flow-ref doc:name="end-init_flow" doc:id="3568ef18-90c9-4239-bd2a-0625a5ff89ad" name="end-init_flow" />
	</flow>
	<flow name="get:\empresas\fornecedores:api-empresa-s-api-config">
		<logger
			level="INFO"
			doc:name="Logger de inicio"
			doc:id="85a79e3b-8d3c-48ae-bf51-dfac77b8318a"
			message="Inicio do fluxo empresas\fornecedores" />

		<flow-ref
			doc:name="get-fornecedores_sub-flow"
			doc:id="f7c4e1b1-1cc8-4a61-ab7e-b5ede9cf124d"
			name="get-fornecedores_sub-flow" />
		<logger
			level="INFO"
			doc:name="Logger de fim"
			doc:id="4c549e1b-7899-4d2c-aa3f-c3da228953fc"
			message="Fim do fluxo empresas\fornecedores!!!" />
	</flow>
	<flow name="get:\empresas\produtos:api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  produtos: [
    {
      id: 1,
      descricao: "Parafuso XPTO",
      codigoBarra: "1236912391948123712388999",
      valor: 1.99,
      unidade: "UN",
      idFornecedor: 123
    }, 
    {
      id: 2,
      descricao: "Parafuso XPTO",
      codigoBarra: "1236912391948123712388999",
      valor: 1.99,
      unidade: "UN",
      idFornecedor: 123
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get:\empresas\fornecedores\(id):api-empresa-s-api-config">
		<flow-ref
			doc:name="log-init_flow"
			doc:id="21af045a-b113-453c-8247-4357815ae156"
			name="log-init_flow" />
		<flow-ref
			name="get-fornecedores-by-id_sub-flow"
			doc:name="get-fornecedores-by-id_sub-flow" />
		<flow-ref
			doc:name="end-init_flow"
			doc:id="b53221ae-4173-454f-ad3b-a0a6562e5210"
			name="end-init_flow" />
	</flow>
	<flow name="get:\empresas\produtos\(id):api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  descricao: "Parafuso XPTO",
  codigoBarra: "1236912391948123712388999",
  valor: 1.99,
  unidade: "UN",
  idFornecedor: 123
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get:\empresas\clientes\(id):api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 1,
  nome: "John Doe",
  cpf: "351.457.152-32",
  endereco: "Av. Paulista, 3542, São Paulo - SP",
  dataNascimento: "1989-12-19",
  email: "john.doe@orangedoor.com.br"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\empresas\clientes:application\json:api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\empresas\fornecedores:application\json:api-empresa-s-api-config">

		<flow-ref
			doc:name="log-init_flow"
			doc:id="c5661199-d74b-4584-9766-9ec0487aa584"
			name="log-init_flow" />
		<set-variable value='#[attributes.headers."client_id"]' doc:name="consumer" doc:id="4d288cfa-091c-4614-a290-979280b35a6c" variableName="consumer" />
		<flow-ref
			doc:name="post-fornecedores_flow"
			doc:id="95f20b9d-e8b1-4e7c-902b-6cf2bcc2e0ed"
			name="post-fornecedores_flow" />
		<flow-ref
			doc:name="end-init_flow"
			doc:id="dfbc1693-731c-4879-abb8-fb1b401d0a3e"
			name="end-init_flow" />

	</flow>
	<flow name="post:\empresas\produtos:application\json:api-empresa-s-api-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errors: [
    {
      code: "1234",
      message: "example error"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
